#wide-menu {
}
#wide-menu #nav {
    left: 0;
    position: relative;
    top: 0;	
}
/* All Levels */
#wide-menu #nav li {
	float:left; 
	text-align:left; 
	/*position:relative;*/ /*my:Drop-down position under current tab*/
}
#wide-menu #nav li a {
	color: #363636;
	display:block;
	float:left;
	border:none;
	text-decoration:none;
	transition-duration:			200ms;
	-moz-transition-duration:		200ms;
	-webkit-transition-duration:	200ms;
	-o-transition-duration:			200ms;		
}
#wide-menu #nav li a:hover { 
	text-decoration:none; 
	transition:			color 450ms ease-in-out, background-color 450ms ease-in-out;
	-moz-transition:	color 450ms ease-in-out, background-color 450ms ease-in-out;
	-webkit-transition:	color 450ms ease-in-out, background-color 450ms ease-in-out;
	-o-transition:		color 450ms ease-in-out, background-color 450ms ease-in-out;	
}

#wide-menu #nav li.over {}
#wide-menu #nav li.parent {}
#wide-menu #nav li a span { 
	display:block; 
	white-space:nowrap;
}
#wide-menu #nav li ul a span { white-space:normal; }
/* Only 1st level
-------------------------------------------------------------- */
#wide-menu #nav > li {
 	display:inline-block;
	/*position:relative;*/ /*Set to position drop-down under current tab*/
}
#wide-menu #nav > li > a {
    color: #363636;
    display: block;
    font-size: 14px;
    line-height: 45px;
    padding: 0 14px;
    text-transform: uppercase;
}
.header-container-1 #wide-menu #nav > li > a {
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    line-height: 50px;
    padding: 0 14px;
    text-transform: uppercase;
}
#wide-menu #nav > li.parent:hover > a,
#wide-menu #nav > li.parent.active > a {
	color: #f01c35;
}

#wide-menu #nav > li:hover > a {}
#wide-menu #nav > li> a {}

#wide-menu #nav > li:hover > a {
	position:relative; /*FF: domyslny static sprawia, ze element nie wyplywa na wierzch pomimo wysokiego z-index*/
	z-index:999999; /* "ul.shown-sub" + 1 */
}

#wide-menu #nav > li.active > a {

} /* For parent items */

#wide-menu #nav > li > a span {}
#wide-menu #nav > li.parent:hover > a span,
#wide-menu #nav > li.parent.active > a span {
	/* For parent items */
	display:block;
}
#wide-menu #nav > li:hover > a span,
#wide-menu #nav > li.active > a span {
	display:block;
}
#wide-menu #nav > li:hover > a span {}
/* Only 2nd level (first subcategory)
-------------------------------------------------------------- */

#wide-menu #nav ul.level0 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #363636;
    display: none;
    left: -260px;
    margin: 0;
    padding: 30px 30px 45px;
    position: absolute;
    top: 50px;
    width: 1170px;
    z-index: 99999;
}
.header-container-1 #wide-menu #nav ul.level0 {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #DDDDDD;
    display: none;
    left: 0;
    margin: 0;
    padding: 30px 30px 45px 30px;
    position: absolute;
    top: 51px;
    width: 1170px;
    z-index: 99999;
}
#wide-menu #nav ul.level0 {}
#wide-menu #nav div ul { position:static; width:auto; border:none; } 

/* Block with subcategory title and a list of child categories */

#wide-menu #nav ul.level0 > li {
    float: left;
    margin: 0 40px 0 10px;
}

#wide-menu #nav ul.level0 > li.last {}
#wide-menu #nav ul.level0 > li > a {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}
#wide-menu #nav ul.level0 > li > a:hover {
	
}

#wide-menu #nav ul.level0 > li.level1 > ul.level1 {
	margin-left: 0;
}

/* 2nd level
-------------------------------------------------------------- */
#wide-menu #nav ul li a { float:none; }
#wide-menu #nav ul li a:hover { color: #f01b37; text-decoration: none !important; }
#wide-menu #nav ul li.parent {}

/* 3rd level
-------------------------------------------------------------- */
#wide-menu #nav ul ul,
#wide-menu #nav ul div {
	position:static !important;
}
#wide-menu #nav ul ul {
	padding-top: 5px;
}
#wide-menu #nav ul ul li {
	float: none;
	margin: 0;
	padding: 5px 0;
}
#wide-menu #nav ul ul li a:hover {
	text-decoration:underline;
}
/* 4th level
-------------------------------------------------------------- */
#wide-menu #nav ul.level2 { padding:5px 0 5px 8px; }
#wide-menu #nav ul.level2 a { color:#aaa; font-size:11px; line-height:15px; }

/* Show menu
-------------------------------------------------------------- */
/* default: left:0; Move 8px left (navbar left corner width) */
#wide-menu #nav ul.level0 > li.menu-content {
	float:none;
	width:inherit;
	margin-right:0;
	margin-left:0;
	margin-bottom:0;
}
#wide-menu #nav li > ul.shown-sub,
#wide-menu #nav li > div.shown-sub {}
/* deleted:
#wide-menu #nav li .shown-sub ul.shown-sub,
#wide-menu #nav li .shown-sub li div.shown-sub { left:100px; }*/

#wide-menu #nav #wide-menu #nav-custom-link > a { cursor:default; }
#wide-menu #nav .header-nav-dropdown-wrapper { margin:0 0 20px; padding:0; border:0; display: block !important;}
#wide-menu #nav .header-nav-dropdown-wrapper li {
	float:left;
	width:23.125%;
	margin-right:2.5%;
}
#wide-menu #nav .header-nav-dropdown-wrapper li.first {}
#wide-menu #nav .header-nav-dropdown-wrapper li.last { margin-right:0; }
#wide-menu #nav .header-nav-dropdown-wrapper p { margin:10px 0; color:#999999; }
#wide-menu #nav .header-nav-dropdown-wrapper .heading { margin:10px 0; color:#333; }

/********** Navigation > */
/* ======================================================================================= */

/* All Levels */ /* Style consistent throughout all nav levels */
#default-menu {}
#default-menu #nav li { position:relative; text-align:left;  line-height: normal;}
#default-menu #nav li.over { z-index:998; }
#default-menu #nav a,
#default-menu #nav a:hover { display:block; text-decoration:none; }
#default-menu #nav span {
    cursor: pointer;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    white-space: nowrap;
}
#default-menu #nav li a {
	color: #363636;
}
#default-menu #nav li ul span {white-space:normal; }
#default-menu #nav ul li.parent a {}
#default-menu #nav ul li.parent li a {}
#default-menu #nav ul li a:hover span {
	background: url(../images/icon-right.png) no-repeat 90% 50%;
}

#default-menu #nav ul li.level2 a:hover span {
	background: none;
}

/* 0 Level */
#default-menu #nav li { float:left;  font-size:18px; }
#default-menu #nav li a{ line-height: 55px;}
#default-menu #nav li.active a { }
#default-menu #nav li a {
    float: left;
    line-height: 42px;
    padding: 0 15px;
}

.header-container-1 #default-menu #nav li.home a {
    padding-left: 0;
}
.header-container-1 #default-menu #nav li a {
    line-height: 50px;
}
#default-menu #nav li.over a,
#default-menu #nav li a:hover {

}

#default-menu #nav li.parent:hover a.level-top {
	background: url("../images/icon-hover-menu.png") no-repeat bottom center;
}

#default-menu #nav li a.over,
#default-menu #nav li a:hover { }
/* 1st Level */
#default-menu #nav li ul li a {
	border:0 !important;
	margin-bottom:0;
}
#default-menu #nav ul { 
	margin: 0;
    padding: 0;
}
#default-menu #nav ul li,
#default-menu #nav ul li.active { float:none; margin:0; font-size: 12px;}
#default-menu #nav ul li.last { padding-bottom:0; }
#default-menu #nav ul li { }
#default-menu #nav ul {
}
#default-menu #nav ul a, #default-menu #nav ul li a, #default-menu #nav ul a:hover {
    background: none !important;
    float: none;
    line-height: 30px;
    padding: 0 0 0 20px;
}
.header-container-1 #default-menu #nav ul a, .header-container-1 #default-menu #nav ul li a, .header-container-1 #default-menu #nav ul a:hover {
    line-height: 35px;
}
#default-menu #nav ul li a { }
#default-menu #nav ul li a:hover { }
#default-menu #nav ul li.active a { }
/* 2nd Level */

#default-menu #nav ul, #default-menu #nav div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #363636;
    left: -10000px;
    min-width: 195px;
    padding: 10px 0;
    position: absolute;
    top: 42px;
    width: 100%;
}
#default-menu #nav div ul { position:static; width:auto; border:none; }
#default-menu ul li.level0 ul li:hover {
	background: #E8F2F4;
}
/* 3rd+ Level */
#default-menu #nav ul ul, #default-menu #nav ul ul, #default-menu #nav ul div {
    left: 190px !important;
    top: 10px;
    width: 100% !important;
}

#default-menu #nav ul span, 
#default-menu #nav ul li.last li span {
    font-size: 14px !important;
    text-transform: none;
}
#default-menu #nav ul li a:hover {}
#default-menu #nav ul li a,
#default-menu #nav ul li a:hover {}
#default-menu #nav ul span,
#default-menu #nav ul li.last li span {}
#default-menu #nav li.active ul li a {}
#default-menu #nav ul li.active ul li a { color:#818181 !important; } 
#default-menu #nav ul li.active ul li a:hover { }
/* Show menu */
#default-menu #nav li ul.shown-sub,
#default-menu #nav li div.shown-sub { left:0; z-index:999; }
#default-menu #nav li .shown-sub ul.shown-sub,
#default-menu #nav li .shown-sub li div.shown-sub { left:100px; }
/********** Navigation > */
/* ======================================================================================= */


/********** Mobile Navigation > */
/* ======================================================================================= */
.mobi-nav{ 
    padding:10px;
    margin: 0 auto;
    width: 90%;
}
.mobi-nav h1 {
    background: #111;
    font-size: 16px;
    line-height: 47px;
    text-transform: uppercase;  
    font-weight: normal;  
    display: inline-block;
    margin: 0;
    width: 100%;
}
.mobi-nav h1 span {
    color: #FFFFFF;
    float: left;
    padding-left: 10px;
}
.mobi-nav h1 a.nav-box {
    background: url("../images/common.png") no-repeat scroll 0 -361px transparent;
    float: right;
    font-size: 0;
    height: 22px;
    margin-top: 13px;
    width: 27px;
    padding-right:10px;
}
#mobi-nav-content {}
.accordion { list-style-type: none; padding: 0; margin: 0 0 30px; }
.accordion ul { padding: 0; margin: 0; float: left; display: block; width: 100%; }
.accordion li { background: #fff; cursor: pointer; list-style-type: none; padding: 0; margin: 0; float: left; display: block; width: 100%; position:relative;}
.accordion li.active > em.open-close {
    background: url("../images/common.png") no-repeat scroll 2px -427px transparent;
}
.accordion li div { padding: 20px; background: #aef; display: block; clear: both; float: left; width: 360px;}
.accordion em.open-close {
    background: url("../images/common.png") no-repeat scroll 2px -392px transparent;
    padding: 8px 14px;
    position: absolute;
    right: 0;
    top: 0;
}
.accordion a { text-decoration: none; border-bottom: 1px solid #F0F0F0; font-size:12px; text-transform:uppercase;padding: 8px 10px; display: block; cursor: pointer; text-align:left;}
.accordion em{margin-right:10px;}
.accordion ul a{font-size:11px;}
.accordion li ul li { background: #F0F0F0; }
.block-inner-menu { margin-top: 20px; width: 100% !important;}
.block-inner-menu h4 {font-size: 11px; font-weight: normal;}