<config>
    <modules>
        <Fiver_ThemeOptions>
            <version>0.1.0</version>
        </Fiver_ThemeOptions>
    </modules>
    <frontend>
        <routers>
            <themeoptions>
                <use>standard</use>
                <args>
                    <module>Fiver_ThemeOptions</module>
                    <frontName>themeoptions</frontName>
                </args>
            </themeoptions>
        </routers>
        <layout>
            <updates>
                <themeoptions>
                    <file>themeoptions.xml</file>
                </themeoptions>
            </updates>
        </layout>
    </frontend>    
    <global>
        <models>
            <themeoptions>
                <class>Fiver_ThemeOptions_Model</class>
            </themeoptions>
        </models>
        <blocks>
            <themeoptions_general>
                <class>Fiver_ThemeOptions_Block</class>
            </themeoptions_general>
            <themeoptions_homepage><class>ThemeOptions_ExtraConfig_Block</class></themeoptions_homepage>  
            <themeoptions_theming><class>ThemeOptions_ExtraConfig_Block</class></themeoptions_theming>            
        </blocks>
        <helpers>
            <themeoptions>
                <class>Fiver_ThemeOptions_Helper</class>
            </themeoptions>           
        </helpers>
    <events>
      <adminhtml_controller_action_predispatch_start>
        <observers>
          <fiver_themeoptions_observer>
            <type>singleton</type>
            <class>Fiver_ThemeOptions_Controller_Observer</class>
            <method>overrideTheme</method>
          </fiver_themeoptions_observer>
        </observers>
      </adminhtml_controller_action_predispatch_start>      
    </events> 
	<resources>
        <fiver_themeoptions_setup>
                <setup>
                    <module>Fiver_ThemeOptions</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>          
        </fiver_themeoptions_setup>
    </resources>  
     <page>
      <layouts>
        <home_page translate="label">
          <label>Home Page</label>
          <template>page/home-page.phtml</template>
          <layout_handle>home_page</layout_handle>
        </home_page>
        <page_fullwidth translate="label">
          <label>Page Full Width</label>
          <template>page/page-fullwidth.phtml</template>
          <layout_handle>page-fullwidth</layout_handle>
        </page_fullwidth>
        <!-- add more layouts here -->
      </layouts>
    </page>            
    </global>
	<default>
		<themeoptions_general>
			<general_options>
				<responsive_layout>1</responsive_layout>
				<fb_skin>dark</fb_skin>
				<gotop_button>1</gotop_button>
			</general_options>
            <menu>
                <effect>fade</effect>
                <home>1</home>
                <enable_custom>1</enable_custom>
                <static_identifier>custom_menu</static_identifier>
                <show_if_no_children>0</show_if_no_children>
                <label1>New</label1>
                <label2>Hot!</label2>
            </menu>
			<prodcuts_list_page>
				<layout_one_column>4</layout_one_column>
				<layout_two_column>4</layout_two_column>
				<layout_three_column>3</layout_three_column>
				<standard_image_width>310</standard_image_width>
				<standard_image_height>424</standard_image_height>
				<shopping_options>0</shopping_options>
				<rating_wishlist_compare>1</rating_wishlist_compare>
				<new_product_label>0</new_product_label>
				<sale_product_label>0</sale_product_label>
				<image_product_hover>0</image_product_hover>
			</prodcuts_list_page>
			<product_details_page>
				<product_main_width>478</product_main_width>
				<product_main_height>654</product_main_height>
				<product_thumbnail_width>161</product_thumbnail_width>
				<product_thumbnail_height>220</product_thumbnail_height>
			</product_details_page>
		</themeoptions_general>
		<themeoptions_homepage_content>
			<homepagecontent>
				<homerowamount>1</homerowamount>
				<homeinfostype_1_1>1</homeinfostype_1_1>
				<homecoltitle_1_1>New Product</homecoltitle_1_1>
				<homeproductstype_1_1>new</homeproductstype_1_1>
				<homesliderstype_1_1>1</homesliderstype_1_1>
				<productseachrow_1_1>4</productseachrow_1_1>
				<productsamount_1_1>10</productsamount_1_1>
				<homeinfostype_1_2>1</homeinfostype_1_2>
				<homecoltitle_1_2>New Product</homecoltitle_1_2>
				<homeproductstype_1_2>new</homeproductstype_1_2>
				<homesliderstype_1_2>1</homesliderstype_1_2>
				<productseachrow_1_2>4</productseachrow_1_2>
				<productsamount_1_2>10</productsamount_1_2>
				<homeinfostype_1_3>1</homeinfostype_1_3>
				<homecoltitle_1_3>New Product</homecoltitle_1_3>
				<homeproductstype_1_3>new</homeproductstype_1_3>
				<homesliderstype_1_3>1</homesliderstype_1_3>
				<productseachrow_1_3>4</productseachrow_1_3>
				<productsamount_1_3>10</productsamount_1_3>
			</homepagecontent>
		</themeoptions_homepage_content>		
		<themeoptions_theming>
		<design_layout>
			<theme_layout>1</theme_layout>
		</design_layout>
			<theme_fonts>
				<body_font_size>13px</body_font_size>
				<body_font>Lato</body_font>	
				<heading_font>Lato</heading_font>		
			</theme_fonts>	
			<theme_body>
				<presets>1</presets>
				<l_background_color>#FFFFFF</l_background_color>
				<l_text_color>#363636</l_text_color>
				<l_link_color>#363636</l_link_color>
				<l_link_hover_color>#ef5c47</l_link_hover_color>	
				<l_active_color>#ef5c47</l_active_color>	
				<l_heading_color>#363636</l_heading_color>
				<l_icons_color>#363636</l_icons_color>
				<l_buttons_color>#ef5c47</l_buttons_color>
				<l_buttons_hover_color>#292929</l_buttons_hover_color>
				<l_new_label_color>#ef5c47</l_new_label_color>
				<l_sale_label_color>#292929</l_sale_label_color>
			
				<d_background_color>#1d1d1d</d_background_color>
				<d_text_color>#808080</d_text_color>
				<d_link_color>#7a7a7a</d_link_color>
				<d_link_hover_color>#676634</d_link_hover_color>	
				<d_active_color>#676634</d_active_color>	
				<d_heading_color>#8b8b8b</d_heading_color>
				<d_icons_color>#40402f</d_icons_color>
				<d_buttons_color>#777777</d_buttons_color>
				<d_buttons_hover_color>#676634</d_buttons_hover_color>
				<d_new_label_color>#816b3f</d_new_label_color>
				<d_sale_label_color>#292929</d_sale_label_color>
				

			</theme_body>
			<theme_footer>
				<footer_background_color>transparent</footer_background_color>
				<footer_one_background>#ffffff</footer_one_background>
				<footer_one_text_color>#363636</footer_one_text_color>
				<footer_one_link_color>#363636</footer_one_link_color>
				<footer_one_link_hover_color>#ef5c47</footer_one_link_hover_color>	

				<footer_copyright_background>#131313</footer_copyright_background>
				<footer_copyright_text_color>#FFFFFF</footer_copyright_text_color>
				<footer_copyright_link_color>#FFFFFF</footer_copyright_link_color>
				<footer_copyright_link_hover_color>#ef5c47</footer_copyright_link_hover_color>
				<footer_one_heading_color>#363636</footer_one_heading_color>
				<footer_copyright_heading_color>#FFFFFF</footer_copyright_heading_color>
				

			</theme_footer>																			
		</themeoptions_theming>		

	</default>
</config>