<?xml version="1.0"?>
<config>
    <modules>
        <Fiver_MegaMenu>
            <version>2.2.1</version>
        </Fiver_MegaMenu>
    </modules>
    <global>
        <models>
            <megamenu>
                <class>Fiver_MegaMenu_Model</class>
            </megamenu>
        </models>
        <blocks>
            <megamenu>
                <class>Fiver_MegaMenu_Block</class>
            </megamenu>
        </blocks>
        <helpers>
            <megamenu>
                <class>Fiver_MegaMenu_Helper</class>
            </megamenu>
        </helpers>
        <resources>
            <megamenu_setup>
                <setup>
                    <module>Fiver_MegaMenu</module>
                    <class>Fiver_MegaMenu_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenu_setup>
            <megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenu_write>
            <megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenu_read>
        </resources>
    </global>
</config>