<?xml version="1.0"?>
<config>
    <modules>
        <Fiver_CustomWidgets>
            <version>0.1.0</version>
        </Fiver_CustomWidgets>
    </modules>
    <global>
        <models>
            <customwidgets>
                <class>Fiver_CustomWidgets_Model</class>
            </customwidgets>
        </models>
        <blocks>
            <customwidgets>
                <class>Fiver_CustomWidgets_Block</class>
            </customwidgets>
        </blocks>
        <helpers>
            <customwidgets>
                <class>Fiver_CustomWidgets_Helper</class>
            </customwidgets>
        </helpers>
    </global>
</config>